<?xml version="1.0"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
<appSettings>
	<add key="Main.ConnectionString"   value="Data Source=192.168.168.232,1521;Initial Catalog=HKNetGame_HJ;User ID=sova_tool;password=r@R2`8|G;application Name=SOVA_TOOL;Packet Size=4096;Persist Security Info=True;Connect Timeout=120"	/>
	<add key="Mon.ConnectionString"    value="Data Source=192.168.168.231;Initial Catalog=MonNetGame_HJ;User ID=sova_tool;password=r@R2`8|G;application Name=SOVA_TOOL;Packet Size=4096;Persist Security Info=True;Connect Timeout=240"	/>
	<add key="Sova.ConnectionString"   value="Data Source=192.168.168.238;Initial Catalog=SovaTemp;User ID=hk_report;password=oN1/Avha;application Name=SOVA_TOOL;Packet Size=4096;Persist Security Info=True;Connect Timeout=120"	/>
	<add key="JBTool.ConnectionString" value="User ID=jb_tool;Packet Size=4096;Initial Catalog=IDVerify;Data Source=192.168.168.236;password=XqL'ZLvG;Application Name=JumboTools;Persist Security Info=True;Connect Timeout=300" />	

	<!--Golden WebService Url 測試 ws.ruby4.otm 正式 ws.bacc1688.com-->
	<add key="Golden.WebService" value="http://ws.bacc1688.com/gamecommand.asmx"/>  
	<!-- DB Timeout Seconds-->
	<add key="TimeOut"	value="120"	/>
	<!-- H1 / H1Mini -->
	<add key="SiteId"	value="H1" />  

	<!-- Login User -->
	<add key="LoginUser" value="RoyalTool_WHPassword"/>
	<!-- Home Page -->
	<add key="HomePage" value="GameInfo.aspx"/>    
	<!-- VideoGame -->
	<add key="VideoGame" value="Bacc,InsuBacc,LongHu,FanTan,LunPan,ShaiZi,YuXiaXie"/>
	<!-- VideoServer -->
	<add key="VideoServer" value="BaccA,BaccB,BaccC,BaccD,BaccE,BaccF,BaccH,BaccI,BaccJ,InsuBaccA,InsuBaccB,LongHuA,LongHuB,FanTanA,LunPanA,LunPanB,ShaiZiA,YuXiaXieA"/>
	<!-- Program List -->
	<!--add key="ProgramList" value="GameSwitch.aspx,GetPlayerInfo.aspx,GameInfo.aspx,MoveStakeAccount.aspx,UnReturnAccount.aspx,EditPassword.aspx,RecoveryAccount.aspx"/-->
	<add key="ProgramList" value="GameSwitch.aspx,GetPlayerInfo.aspx,GameInfo.aspx,MoveStakeAccount.aspx,UnReturnAccount.aspx,EditPassword.aspx,VideoConfigManage.aspx,UnReturnAccount_Royal.aspx,UnReturnAccount_Ruby4.aspx,ManualReturnJumbo.aspx,GetMessage.aspx"/>	
	<!-- ThirdPartyId -->
	<add key="ThirdPartyId" value="Jumbo,Sova,Golden,Royal,Star"/>	
</appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SlotGameWSSoap" />
        <binding name="MicroSovaWSSoap" />
		<binding name="LiveGameSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://api.slotgamews.com:8001/SlotGameWS.asmx"
        binding="basicHttpBinding" bindingConfiguration="SlotGameWSSoap"
        contract="SlotGameWS.SlotGameWSSoap" name="SlotGameWSSoap" />
      <endpoint address="http://api.microsovaws.com/MicrosovaWS.asmx" binding="basicHttpBinding"
        bindingConfiguration="MicroSovaWSSoap" contract="MicroSovaWS.MicroSovaWSSoap"
        name="MicroSovaWSSoap" />
      <endpoint address="http://api.livegame.com:8081/livegame.asmx" binding="basicHttpBinding"
        bindingConfiguration="LiveGameSoap" contract="LiveGameWS.LiveGameSoap"
        name="LiveGameSoap" />		
    </client>
  </system.serviceModel>
</configuration>