body
{
    margin: 0;
    padding: 0;
    font-size: 12px;
}
h1
{
    font-size: 16px;
    text-align: center;
}
#refresh
{
    font-size: 16px;
    display: block;
    width: 120px;
    height: 40px;
    border: 1px solid black;
    background: black;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px atuo;
}

#refresh:hover
{
    background: red;
}

#cd
{
    font-size: 12px;
    background: black;
    color: white;
}
