<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <appSettings>
    <!--美索封測 起-->
    <add key="Main.ConnectionString" value="Data Source=210.66.176.238;Initial Catalog=MiniGame_HJ;User ID=sa;password=Gcwsx!@#;application Name=royaltool;Packet Size=4096;Persist Security Info=True;Connect Timeout=120"	/>
    <add key="Mon.ConnectionString"  value="Data Source=210.66.176.238;Initial Catalog=MonNetGame_HJ;User ID=sa;password=Gcwsx!@#;application Name=royaltool;Packet Size=4096;Persist Security Info=True;Connect Timeout=120"	/>
    <!--美索封測 止-->
    <!--JDB-->
    <add key="JDBAPIURL" value="http://210.64.214.189:12000/Index/LobbyAPI"/> 
    <add key="JDB.company" value="Royal"/>
    <add key="JDB.system" value="H1"/>
    <add key="JDB.webid" value="H1AG"/>
    <!--Golden WebService Url 測試 ws.ruby4.otm 正式 ws.bacc1688.com-->
    <add key="Golden.WebService" value="http://ws.ruby4.otm.itsvc.biz/gamecommand.asmx"/>
    <!--替白馬隱藏某些功能用-->
    <add key="IsVisible" value="false"/>
    <!-- DB Timeout Seconds-->
    <add key="TimeOut" value="120"/>
    <!-- H1 / H1Mini -->
    <add key="SiteId" value="Maesot"/>
    <!-- SubSystem 公測使用Maesot-->
    <add key="SubSystem" value="MaesotTest"/>
    <!-- Login User -->
    <add key="LoginUser" value="RoyalTool_OPPassword"/>
    <!-- 功能是否顯示(有些功能白馬不想顯示) -->
    <add key="IsVisible" value="true"/>
    <!-- Star 改帳、補帳 修改者的帳號密碼 -->
    <add key="Star_OPAccount_01" value="Star6666"/>
    <add key="Star_OPAccount_02" value="Star7777"/>
    <add key="Star_OPAccount_03" value="Star8888"/>
    <!-- Home Page -->
    <add key="HomePage" value="GameInfo.aspx"/>
    <!-- VideoGame -->
    <add key="VideoGame" value="Bacc,InsuBacc,LongHu,FanTan,LunPan,ShaiZi,YuXiaXie"/>
    <!-- VideoServer -->
    <add key="VideoServer" value="BaccA,BaccB,BaccC,BaccD,BaccE,BaccF,BaccH,BaccI,BaccJ,InsuBaccA,InsuBaccB,LongHuA,LongHuB,FanTanA,LunPanA,LunPanB,ShaiZiA,YuXiaXieA"/>
    <!-- Program List -->
    <!-- 先拿掉 RecoveryAccount.aspx 復原會員狀態 -->
    <add key="ProgramList" value="GameSwitch.aspx,GetPlayerInfo.aspx,GameInfo.aspx,MoveStakeAccount.aspx,UnReturnAccount.aspx,EditPassword.aspx"/>
    <!--<add key="ProgramList" value="GameSwitch.aspx,GetPlayerInfo.aspx,GameInfo.aspx,MoveStakeAccount.aspx,UnReturnAccount.aspx,EditPassword.aspx,VideoConfigManage.aspx,UnReturnAccount_Royal.aspx,UnReturnAccount_Ruby4.aspx,ManualReturnJumbo.aspx,SyncOpenList.aspx,MakeDayReport.aspx,GetMessage.aspx,Club_Stake_Current_Insert_ForStar.aspx,Club_Stake_Current_Update_ForStar.aspx,DeleteDuplicateRows.aspx,PointCenterLogSearch.aspx,CheckGsRoad.aspx,Club_Stake_Current_Insert_ForJDB.aspx"/>-->
    <!-- <add key="ProgramList" value="GameSwitch.aspx,GetPlayerInfo.aspx,GameInfo.aspx,MoveStakeAccount.aspx,UnReturnAccount.aspx,EditPassword.aspx,VideoConfigManage.aspx,RecoveryAccount.aspx,UnReturnAccount_Royal.aspx,UnReturnAccount_Ruby4.aspx,ManualReturnJumbo.aspx,SyncOpenList.aspx,MakeDayReport.aspx,GetMessage.aspx"/> -->
    <!-- ThirdPartyId -->
    <add key="ThirdPartyId" value="Royal"/>
    <!-- 皇家電子一館對應 H1 遊戲代碼 -->
    <add key="RoyalGameId_1" value="FortuneTai"/>
    <!-- FortuneThai(泰有錢) -->
    <add key="RoyalGameId_2" value="MagicGem"/>
    <!-- MagicGem(魔法石) -->
    <add key="RoyalGameId_3" value="Royal777"/>
    <!-- Royal777(皇家777) -->
    <add key="RoyalGameId_4" value="LoveCity"/>
    <!-- LoveCity(慾望城市) -->
    <add key="RoyalGameId_5" value="GChicken"/>
    <!-- GoldChicken(金雞報喜) -->
    <add key="RoyalGameId_6" value="Pharoh"/>
    <!-- PHARAOH(法老王) -->
    <add key="RoyalGameId_7" value="Alibaba"/>
    <!-- Alibaba(阿里巴巴) -->
    <add key="RoyalGameId_8" value="LuckyFruit"/>
    <!-- Lucky Fruits(幸運水果) -->
    <add key="RoyalGameId_10" value="RJungle"/>
    <!-- Jungle(動物叢林) -->
    <add key="RoyalGameId_11" value="CHook"/>
    <!-- CaptainHook(虎克船長) -->
    <add key="RoyalGameId_12" value="HUCA"/>
    <!-- HUCA(HUCA) -->
    <add key="RoyalGameId_14" value="SweetCandy"/>
    <!-- SweetCandy(甜蜜糖果) -->
    <add key="RoyalGameId_16" value="POPEYE"/>
    <!-- POPEYE(大力水手) -->
    <add key="RoyalGameId_17" value="CDoctor"/>
    <!-- CrazyDoctor(瘋狂博士) -->
    <add key="RoyalGameId_18" value="Nonstop"/>
    <!-- 永不停止 -->
    <add key="RoyalGameId_19" value="5Dragons"/>
    <!-- 5Dragons(五龍爭霸) -->
    <add key="RoyalGameId_20" value="GoldFish3"/>
    <!-- GoldFish3(金魚3) -->
    <add key="RoyalGameId_21" value="72Changes"/>
    <!-- 72Changes(七十二變) -->
    <add key="RoyalGameId_22" value="CRabbit"/>
    <!-- CrazyRabbit(瘋狂免子) -->
    <add key="RoyalGameId_23" value="Mermaid"/>
    <!-- Mermaid(美人魚) -->
    <add key="RoyalGameId_24" value="Buffalo"/>
    <!-- Buffalo(荒野水牛) -->
    <add key="RoyalGameId_25" value="WildPanda"/>
    <!-- WildPanda(竹林熊貓) -->
    <add key="RoyalGameId_26" value="LuckyThai"/>
    <!-- (泰好運) -->
    <add key="RoyalGameId_27" value="GodWealth"/>
    <!-- (財神到) -->
    <add key="RoyalGameId_28" value="LDragon"/>
    <!-- (行運一條龍) -->
    <add key="RoyalGameId_30" value="dragon"/>
    <!-- dragonking(龍王) -->
    <add key="RoyalGameId_31" value="TikiParty"/>
    <!-- TikiParty(提金派對) -->
    <add key="RoyalGameId_32" value="goblin"/>
    <!-- goblinminer(礦工哥布林) -->
    <add key="RoyalGameId_33" value="luckybar"/>
    <!-- luckybar(幸運拉霸) -->
    <add key="RoyalGameId_15" value="firespin"/>
    <!-- firespin(烈焰轉輪) -->
    <add key="RoyalGameId_37" value="DNight"/>
    <!-- Disco Night(迪斯可之夜) -->
    <add key="RoyalGameId_38" value="HNight"/>
    <!-- Horror Nights(農場夜驚魂) -->
    <!-- 皇家電子二館對應 H1 遊戲代碼 -->
    <add key="RoyalGame2Id_RoyalHusa" value="29"/>
    <!-- Husa(野蠻世界) -->
    <add key="RoyalGame2Id_Africa" value="34"/>
    <!-- Africa(非洲) -->
    <add key="RoyalGame2Id_WStore" value="35"/>
    <!-- WizardStore(巫師商店) -->
    <add key="RoyalGame2Id_MrDoggy" value="36"/>
    <!-- MrDoggy(家犬先生) -->
    <add key="RoyalGame2Id_FuWaFaFa" value="40"/>
    <!-- FuWaFaFa(福娃發發) -->
    <add key="RoyalGame2Id_TarZan" value="41"/>
    <!-- TarZan(泰山) -->
    <add key="RoyalGame2Id_Jalapeno" value="42"/>
    <!-- Jalapeno(墨西哥辣椒) -->
    <add key="RoyalGame2Id_PPunch" value="43"/>
    <!-- PiggyPunch(金豬爆吉) -->
    <add key="RoyalGame2Id_OEmperor" value="3001"/>
    <!-- OCEAN EMPEROR(八爪天下海霸王) -->
    <add key="RoyalGame2Id_CNEmpress" value="39"/>
    <!-- China Empress(武媚娘) -->
    <add key="RoyalGame2Id_DanceLion" value="50"/>
    <!-- Dancing Lion(跳跳獅) -->
    <add key="RoyalGame2Id_SevensHigh" value="44"/>
    <!-- Sevens High(七起來) -->
    <add key="RoyalGame2Id_Jelly27" value="47"/>
    <!-- Jelly27(果凍27) -->

    <!--           2020-06-01 Add          -->
    <!-- Sevens High(?C¢X_¡LO) -->
    <add key="RoyalGame2Id_Kunoichi" value="45"/>
    <!-- Sevens High(?C¢X_¡LO) -->
    <add key="RoyalGame2Id_RGNinja" value="46"/>
    <!-- Sevens High(?C¢X_¡LO) -->
    <add key="RoyalGame2Id_POSEIDON" value="49"/>
    <!-- Sevens High(?C¢X_¡LO) -->
    <add key="RoyalGame2Id_NeonCircle" value="53"/>
    <!-- Sevens High(?C¢X_¡LO) -->
    <add key="RoyalGame2Id_AngryBear" value="48"/>
    <!-- Sevens High(?C??O) -->
    <add key="RoyalGame2Id_GetHigh" value="55"/>

    <!-- 2020-06-11 add-->
    <!--暴怒棕熊-->
    <add key="RoyalGame2Id_AngryBear" value="48"/>
    <!--嗨起來-->
    <add key="RoyalGame2Id_GetHigh" value="55"/>
    <!--西部牛仔-->
    <add key="RoyalGame2Id_CowBoy" value="56"/>
    <!--秘林熊貓-->
    <add key="RoyalGame2Id_MPanda" value="59"/>
    <!--福娃捕魚-->
    <add key="RoyalGame2Id_FWFishing" value="3002"/>
    
    <!-- Log路徑，若設空字串表示不寫Log -->
    <add key="Logpath" value="C:\ToolLogs\"/>
    <!--H1 JDB的API-->
    <add key="JDBLogWrapper.jdb" value="http://api.h1.bt2win.com/jdb.asmx"/>
    <!-- 未洗分清單重load時間間隔 -->
    <add key="ReloadInterval" value="20000"/>
    <!-- Device 公測使用mobile-->
    <add key="device" value="web"/>
    <!-- 未洗分清單一頁筆數 -->
    <add key="PageSize" value="50"/>
    <!--能存取WatchGs.ashx的IP白名單(允許接收GS透過post傳送訊息)-->
    <add key="IPList" value=",127.0.0.1,::1,"/>
    <!--點數中心 Log查詢的API-->
    <add key="PointCenterApi.Logs" value="http://210.64.214.189:5588/logs.asmx"/>
    <!--驗證碼的key(維運使用︰yamaplayopteam@gmail.com，白馬使用︰yamaplaymanager@gmail.com)-->
    <add key="CheckAccount" value="yamaplayopteam@gmail.com"/>
	  
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SlotGameWSSoap"/>
        <binding name="MicroSovaWSSoap"/>
        <binding name="LiveGameSoap"/>
        <binding name="MobileLogWrapperSoap" maxReceivedMessageSize="2147483647"/>
        <binding name="SlotGameWSSoap1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://devslotapi.bt2win.com/SlotGameWS.asmx" binding="basicHttpBinding" bindingConfiguration="SlotGameWSSoap" contract="SlotGameWS.SlotGameWSSoap" name="SlotGameWSSoap"/>
      <!--http://210.66.176.243/MicroSovaWS.asmx 這個應該是Sova的api，現在已經沒有了-->
      <endpoint address="http://210.66.176.243/MicroSovaWS.asmx" binding="basicHttpBinding" bindingConfiguration="MicroSovaWSSoap" contract="MicroSovaWS.MicroSovaWSSoap" name="MicroSovaWSSoap"/>
      <endpoint address="http://mapi.bt2win.com/livegame.asmx" binding="basicHttpBinding" bindingConfiguration="LiveGameSoap" contract="LiveGameWS.LiveGameSoap" name="LiveGameSoap"/>
      <endpoint address="http://api.h1mini.bt2win.com/mobile.asmx" binding="basicHttpBinding" bindingConfiguration="MobileLogWrapperSoap" contract="Mobile.MobileLogWrapperSoap" name="MobileLogWrapperSoap"/>
      <endpoint address="http://tsgameapi.bacctest.com/SlotGameWS.asmx" binding="basicHttpBinding" bindingConfiguration="SlotGameWSSoap" contract="SlotGameWS2.SlotGameWSSoap" name="SlotGameWSSoap1"/>
    </client>
  </system.serviceModel>
</configuration>