<?xml version="1.0"?>
<configuration>
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.IO.Compression, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ComponentModel.Composition, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <appSettings>
    <add key="serilog:using:Seq" value="Serilog.Sinks.Seq"/>
    <add key="serilog:write-to:Seq.serverUrl" value="http://seq.royal-test.com"/>
    <add key="serilog:write-to:Seq.apiKey" value="[optional API key here]"/>
    <!--
        <add key="Main.ConnectionString" value="User ID=sa;Packet Size=4096;Initial Catalog=HKNetGame_HJ;Data Source=210.66.176.209;password=j8D#L!^88#;Workstation ID=WebUser;Persist Security Info=True;Connect Timeout=120"/>
        <add key="Mon.ConnectionString" value="User ID=sa;Packet Size=4096;Initial Catalog=MonNetGame_HJ;Data Source=210.66.176.209;password=j8D#L!^88#;Workstation ID=WebUser;Persist Security Info=True;Connect Timeout=120"/>
        <add key="CossMS.ConnectionString" value="User ID=sa;Packet Size=4096;Initial Catalog=GameToStakeTemp;Data Source=210.66.176.218;password=gcqaz!@#;Workstation ID=WebUser;Persist Security Info=True;Connect Timeout=120"/>
        <add key="JBTool.ConnectionString" value="User ID=sa;Packet Size=4096;Initial Catalog=IDVerify;Data Source=210.66.176.218;password=gcqaz!@#;Workstation ID=WebUser;Persist Security Info=True;Connect Timeout=120"/>
        <add key="Sova.ConnectionString" value="User ID=sa;Packet Size=4096;Initial Catalog=SovaTemp;Data Source=210.66.176.209;password=j8D#L!^88#;Workstation ID=WebUser;Persist Security Info=True;Connect Timeout=120"/>
    -->
    <!--H1舊公測 起-->
    <add key="Main.ConnectionString" value="User ID=sova_api;Packet Size=4096;Initial Catalog=HKNetGame_HJ;Data Source=172.16.10.60,1521;password=X@PL82bk;Workstation ID=WebUser;Persist Security Info=True;Connect Timeout=120;Application Name=WebToolsMain"/>
    <add key="Mon.ConnectionString" value="User ID=sova_api;Packet Size=4096;Initial Catalog=MonNetGame_HJ;Data Source=172.16.10.62;password=X@PL82bk;Workstation ID=WebUser;Persist Security Info=True;Connect Timeout=120;Application Name=WebToolsMon"/>
    <add key="CossMS.ConnectionString" value="User ID=sa;Packet Size=4096;Initial Catalog=GameToStakeTemp;Data Source=210.66.176.235;password=Gcwsx!@#;Workstation ID=WebUser;Persist Security Info=True;Connect Timeout=120;Application Name=WebToolsCossMS"/>
    <add key="JBTool.ConnectionString" value="User ID=sa;Packet Size=4096;Initial Catalog=IDVerify;Data Source=210.66.176.235;password=Gcwsx!@#;Workstation ID=WebUser;Persist Security Info=True;Connect Timeout=120;Application Name=WebToolsJBTool"/>
    <add key="Sova.ConnectionString" value="User ID=sa;Packet Size=4096;Initial Catalog=SovaTemp;Data Source=210.66.176.237;password=Gcwsx!@#;Workstation ID=WebUser;Persist Security Info=True;Connect Timeout=120;Application Name=WebToolsSova"/>
    <add key="H1DayDB.ConnectionString" value="User ID=sova_api;Packet Size=4096;Initial Catalog=HKNetGame_HJ;Data Source=172.16.10.60,1521;password=X@PL82bk;Workstation ID=WebUser;Persist Security Info=True;Connect Timeout=120;Application Name=WebToolsMain"/>
    <add key="H1DayCUR.ConnectionString" value="User ID=sova_api;Packet Size=4096;Initial Catalog=HKNetGame_HJ;Data Source=172.16.10.60,1521;password=X@PL82bk;Workstation ID=WebUser;Persist Security Info=True;Connect Timeout=120;Application Name=WebToolsMain"/>
    <!--H1舊公測 止-->
    <!--H1 封測 起-->
    <!--RTG沒有接封測，暫改用舊公測
    <add key="Main.ConnectionString" value="User ID=sa;Packet Size=4096;Initial Catalog=HKNetGame_HJ;Data Source=172.16.10.232,1521;password=Gcwsx!@#;Workstation ID=WebUser;Persist Security Info=True;Connect Timeout=120;Application Name=WebTools"/>
    <add key="H1DayDB.ConnectionString" value="User ID=web_bbb;Packet Size=4096;Initial Catalog=HKNetGame_HJ;Data Source=210.64.215.237,1521;password=Ah9!R4MZ;Workstation ID=WebUser;Persist Security Info=True;Connect Timeout=120;Application Name=WebToolsH1DayDB"/>
    <add key="H1DayCUR.ConnectionString" value="User ID=web_bbb;Packet Size=4096;Initial Catalog=CurNetGame_HJ;Data Source=210.64.215.238;password=Ah9!R4MZ;Workstation ID=WebUser;Persist Security Info=True;Connect Timeout=120;Application Name=WebToolsH1DayCUR"/>
    <add key="Mon.ConnectionString" value="User ID=sa;Packet Size=4096;Initial Catalog=MonNetGame_HJ;Data Source=210.66.176.239;password=Gcwsx!@#;Workstation ID=WebUser;Persist Security Info=True;Connect Timeout=120;Application Name=WebToolsMon"/>
    <add key="CossMS.ConnectionString" value="User ID=sa;Packet Size=4096;Initial Catalog=GameToStakeTemp;Data Source=210.66.176.235;password=Gcwsx!@#;Workstation ID=WebUser;Persist Security Info=True;Connect Timeout=120;Application Name=WebToolsCossMS"/>
    <add key="JBTool.ConnectionString" value="User ID=sa;Packet Size=4096;Initial Catalog=IDVerify;Data Source=210.66.176.235;password=Gcwsx!@#;Workstation ID=WebUser;Persist Security Info=True;Connect Timeout=120;Application Name=WebToolsJBTool"/>
    <add key="Sova.ConnectionString" value="User ID=sa;Packet Size=4096;Initial Catalog=SovaTemp;Data Source=210.66.176.237;password=Gcwsx!@#;Workstation ID=WebUser;Persist Security Info=True;Connect Timeout=120;Application Name=WebToolsSova"/>
    <add key="JBTool.Onlinegame" value="User ID=jb_tool;Packet Size=4096;Initial Catalog=online_game;Data Source=localhost;password=XqL''ZLvG;Workstation ID=WebUser;Persist Security Info=True;Connect Timeout=120;Application Name=SovaToolForJB"/>
    -->
    <!--Moblie.ConnectionString 公測環境-->
    <add key="Moblie.ConnectionString" value="User ID=egame;Packet Size=4096;Initial Catalog=LiveGame_Manager;Data Source=172.16.10.64;password=X@PL82bk;Workstation ID=WebUser;Persist Security Info=True;Connect Timeout=120;Application Name=SovaToolForJB"/>
    <!--H1 封測 止-->
    <!--點數中心 DB Link-->
    <!--<add key="Jdb1.ConnectionString" value="User ID=YA_JDBUser;Packet Size=4096;Initial Catalog=H1_JDBMain;Data Source=210.66.176.226,1521;password=2wsx$RFV6yhn;Workstation ID=WebUser;Persist Security Info=True;Connect Timeout=120;Application Name=WebTools"/>-->
    <!--JDB-->
    <add key="JDBAPIURL" value="http://172.16.10.138:12000/Index/LobbyAPI"/>
    <add key="JDB.company" value="Royal"/>
    <add key="JDB.system" value="H1"/>
    <add key="JDB.webid" value="H1AG"/>
    <!--Golden WebService Url 測試 ws.ruby4.otm 正式 ws.bacc1688.com-->
    <add key="Golden.WebService" value="http://ws.ruby4.otm.itsvc.biz/gamecommand.asmx"/>
    <!-- DB Timeout Seconds-->
    <add key="TimeOut" value="120"/>
    <!-- H1 / H1Mini -->
    <add key="SiteId" value="H1Mini"/>
    <!-- SubSystem -->
    <add key="SubSystem" value="H1Test"/>
    <!-- Login User -->
    <add key="LoginUser" value="RoyalTool_OPPassword"/>
    <!-- 功能是否顯示(有些功能白馬不想顯示) -->
    <add key="IsVisible" value="true"/>
    <!-- Star 改帳、補帳 修改者的帳號密碼 -->
    <add key="Star_OPAccount_01" value="Star6666"/>
    <add key="Star_OPAccount_02" value="Star7777"/>
    <add key="Star_OPAccount_03" value="Star8888"/>
    <!-- Home Page -->
    <add key="HomePage" value="GameInfo.aspx"/>
    <!-- VideoGame -->
    <add key="VideoGame" value="Bacc,InsuBacc,LongHu,FanTan,LunPan,ShaiZi,YuXiaXie"/>
    <!-- VideoServer -->
    <add key="VideoServer" value="BaccA,BaccB,BaccC,BaccD,BaccE,BaccF,BaccH,BaccI,BaccJ,InsuBaccA,InsuBaccB,LongHuA,LongHuB,FanTanA,LunPanA,LunPanB,ShaiZiA,YuXiaXieA"/>
    <!-- Program List -->
    <!-- 先拿掉 RecoveryAccount.aspx 復原會員狀態 -->
    <add key="ProgramList" value="GameSwitch.aspx,GetPlayerInfo.aspx,GameInfo.aspx,MoveStakeAccount.aspx,UnReturnAccount.aspx,EditPassword.aspx,VideoConfigManage.aspx,UnReturnAccount_Royal.aspx,UnReturnAccount_Ruby4.aspx,ManualReturnJumbo.aspx,SyncOpenList.aspx,MakeDayReport.aspx,GetMessage.aspx,Club_Stake_Current_Insert_ForStar.aspx,Club_Stake_Current_Update_ForStar.aspx,DeleteDuplicateRows.aspx,PointCenterLogSearch.aspx,CheckGsRoad.aspx,Club_Stake_Current_Insert_ForJDB.aspx,OnlineMemberCountsList.aspx,NewJdbGameRaceResult.aspx,GetWashReviseData.aspx,EditWashReviseData.aspx,NewPointCenterLogSearch.aspx,AutoAlert.aspx,CreateRecord.aspx,AgentFind.aspx,EditGameDomainUrl.aspx,UPDNow_XinYong.aspx,Upd_ChongZhi.aspx,AddClubNews.aspx,GameChart.aspx"/>
    <!-- <add key="ProgramList" value="GameSwitch.aspx,GetPlayerInfo.aspx,GameInfo.aspx,MoveStakeAccount.aspx,UnReturnAccount.aspx,EditPassword.aspx,VideoConfigManage.aspx,RecoveryAccount.aspx,UnReturnAccount_Royal.aspx,UnReturnAccount_Ruby4.aspx,ManualReturnJumbo.aspx,SyncOpenList.aspx,MakeDayReport.aspx,GetMessage.aspx"/> -->
    <!-- ThirdPartyId -->
    <add key="ThirdPartyId" value="Jumbo,Sova,Golden,Royal,Star,JDB,RTG,GCLUB"/>
    <!-- 皇家電子一館對應 H1 遊戲代碼 -->
    <add key="RoyalGameId_1" value="FortuneTai"/>
    <!-- FortuneThai(泰有錢) -->
    <add key="RoyalGameId_2" value="MagicGem"/>
    <!-- MagicGem(魔法石) -->
    <add key="RoyalGameId_3" value="Royal777"/>
    <!-- Royal777(皇家777) -->
    <add key="RoyalGameId_4" value="LoveCity"/>
    <!-- LoveCity(慾望城市) -->
    <add key="RoyalGameId_5" value="GChicken"/>
    <!-- GoldChicken(金雞報喜) -->
    <add key="RoyalGameId_6" value="Pharoh"/>
    <!-- PHARAOH(法老王) -->
    <add key="RoyalGameId_7" value="Alibaba"/>
    <!-- Alibaba(阿里巴巴) -->
    <add key="RoyalGameId_8" value="LuckyFruit"/>
    <!-- Lucky Fruits(幸運水果) -->
    <add key="RoyalGameId_10" value="RJungle"/>
    <!-- Jungle(動物叢林) -->
    <add key="RoyalGameId_11" value="CHook"/>
    <!-- CaptainHook(虎克船長) -->
    <add key="RoyalGameId_12" value="HUCA"/>
    <!-- HUCA(HUCA) -->
    <add key="RoyalGameId_14" value="SweetCandy"/>
    <!-- SweetCandy(甜蜜糖果) -->
    <add key="RoyalGameId_16" value="POPEYE"/>
    <!-- POPEYE(大力水手) -->
    <add key="RoyalGameId_17" value="CDoctor"/>
    <!-- CrazyDoctor(瘋狂博士) -->
    <add key="RoyalGameId_18" value="Nonstop"/>
    <!-- 永不停止 -->
    <add key="RoyalGameId_19" value="5Dragons"/>
    <!-- 5Dragons(五龍爭霸) -->
    <add key="RoyalGameId_20" value="GoldFish3"/>
    <!-- GoldFish3(金魚3) -->
    <add key="RoyalGameId_21" value="72Changes"/>
    <!-- 72Changes(七十二變) -->
    <add key="RoyalGameId_22" value="CRabbit"/>
    <!-- CrazyRabbit(瘋狂免子) -->
    <add key="RoyalGameId_23" value="Mermaid"/>
    <!-- Mermaid(美人魚) -->
    <add key="RoyalGameId_24" value="Buffalo"/>
    <!-- Buffalo(荒野水牛) -->
    <add key="RoyalGameId_25" value="WildPanda"/>
    <!-- WildPanda(竹林熊貓) -->
    <add key="RoyalGameId_26" value="LuckyThai"/>
    <!-- (泰好運) -->
    <add key="RoyalGameId_27" value="GodWealth"/>
    <!-- (財神到) -->
    <add key="RoyalGameId_28" value="LDragon"/>
    <!-- (行運一條龍) -->
    <add key="RoyalGameId_30" value="dragon"/>
    <!-- dragonking(龍王) -->
    <add key="RoyalGameId_31" value="TikiParty"/>
    <!-- TikiParty(提金派對) -->
    <add key="RoyalGameId_32" value="goblin"/>
    <!-- goblinminer(礦工哥布林) -->
    <add key="RoyalGameId_33" value="luckybar"/>
    <!-- luckybar(幸運拉霸) -->
    <add key="RoyalGameId_15" value="firespin"/>
    <!-- firespin(烈焰轉輪) -->
    <add key="RoyalGameId_37" value="DNight"/>
    <!-- Disco Night(迪斯可之夜) -->
    <add key="RoyalGameId_38" value="HNight"/>
    <!-- Horror Nights(農場夜驚魂) -->
    <!-- 皇家電子二館對應 H1 遊戲代碼 -->
    <add key="RoyalGame2Id_RoyalHusa" value="29"/>
    <!-- Husa(野蠻世界) -->
    <add key="RoyalGame2Id_Africa" value="34"/>
    <!-- Africa(非洲) -->
    <add key="RoyalGame2Id_WStore" value="35"/>
    <!-- WizardStore(巫師商店) -->
    <add key="RoyalGame2Id_MrDoggy" value="36"/>
    <!-- MrDoggy(家犬先生) -->
    <add key="RoyalGame2Id_FuWaFaFa" value="40"/>
    <!-- FuWaFaFa(福娃發發) -->
    <add key="RoyalGame2Id_TarZan" value="41"/>
    <!-- TarZan(泰山) -->
    <add key="RoyalGame2Id_Jalapeno" value="42"/>
    <!-- Jalapeno(墨西哥辣椒) -->
    <add key="RoyalGame2Id_PPunch" value="43"/>
    <!-- PiggyPunch(金豬爆吉) -->
    <add key="RoyalGame2Id_OEmperor" value="3001"/>
    <!-- OCEAN EMPEROR(八爪天下海霸王) -->
    <add key="RoyalGame2Id_CNEmpress" value="39"/>
    <!-- China Empress(武媚娘) -->
    <add key="RoyalGame2Id_DanceLion" value="50"/>
    <!-- Dancing Lion(跳跳獅) -->
    <add key="RoyalGame2Id_SevensHigh" value="44"/>
    <!-- Sevens High(七起來) -->
    <add key="RoyalGame2Id_Jelly27" value="47"/>
    <!-- Jelly27(果凍27) -->
    <!--           2020-06-01 Add          -->
    <!-- Sevens High(?C¢X_¡LO) -->
    <add key="RoyalGame2Id_Kunoichi" value="45"/>
    <!-- Sevens High(?C¢X_¡LO) -->
    <add key="RoyalGame2Id_RGNinja" value="46"/>
    <!-- Sevens High(?C¢X_¡LO) -->
    <add key="RoyalGame2Id_POSEIDON" value="49"/>
    <!-- Sevens High(?C¢X_¡LO) -->
    <add key="RoyalGame2Id_NeonCircle" value="53"/>
    <!-- Sevens High(?C¢X_¡LO) -->
    <add key="RoyalGame2Id_AngryBear" value="48"/>
    <!-- Sevens High(?C??O) -->
    <add key="RoyalGame2Id_GetHigh" value="55"/>
    <!-- 2020-06-11 add-->
    <!--暴怒棕熊-->
    <add key="RoyalGame2Id_AngryBear" value="48"/>
    <!--嗨起來-->
    <add key="RoyalGame2Id_GetHigh" value="55"/>
    <!--西部牛仔-->
    <add key="RoyalGame2Id_CowBoy" value="56"/>
    <!--秘林熊貓-->
    <add key="RoyalGame2Id_MPanda" value="59"/>
    <!--福娃捕魚-->
    <add key="RoyalGame2Id_FWFishing" value="3002"/>
    <!-- Log路徑，若設空字串表示不寫Log -->
    <add key="Logpath" value="C:\ToolLogs\"/>
    <!-- 警示系統的Log路徑，若設空字串表示不寫Log -->
    <add key="AlertLogpath" value="C:\ToolLogs\Alert\"/>
    <!--H1 JDB的API-->
    <add key="JDBLogWrapper.jdb" value="http://api.h1.bt2win.com/jdb.asmx"/>
    <!-- 未洗分清單重load時間間隔 -->
    <add key="ReloadInterval" value="20000"/>
    <!-- Device -->
    <add key="device" value="web"/>
    <!-- 未洗分清單一頁筆數 -->
    <add key="PageSize" value="50"/>
    <!--能存取WatchGs.ashx的IP白名單(允許接收GS透過post傳送訊息)-->
    <add key="IPList" value=",127.0.0.1,::1,"/>
    <!--點數中心 Log查詢的API(2020-11-17確定不再使用，改用NewPointCenterApiLogs)-->
    <!--<add key="PointCenterApi.Logs" value="http://210.64.214.189:5588/logs.asmx"/>-->
    <add key="PointCenterApi.Logs" value="http://127.0.0.1:7774/Logs.asmx"/>
    <!--新的點數中心 Log查詢的API-->
    <add key="NewPointCenterApiLogs" value="http://172.16.10.138:12000"/>
    <add key="EffectiveRange" value="3"/>
    <!--JDB的前綴-->
    <add key="JDBdress" value="h1ob"/>
    <!--棋牌API-->
    <add key="RtgAPIURL" value="https://api.rbgamerp1.com"/>
    <!--2020-12-01 封測的設定(RTG無接封測)
    棋牌Web Id
    <add key="RtgWebId" value="hone11"/>
    棋牌SystemCode
    <add key="RtgSystemCode" value="hone1"/>
    棋牌測試線Web Id
    <add key="RtgWebIdTest" value="hone21"/>
    棋牌測試線SystemCode
    <add key="RtgSystemCodeTest" value="hone2"/>
    棋牌DES-Iv
    <add key="RtgDESIv" value="Q08lG90j"/>
    棋牌DES-Key
    <add key="RtgDESKey" value="HyY6W8lN"/>
    棋牌Client-ID
    <add key="RtgClientID" value="vzD3Io127ltgSX2m"/>
    棋牌Client-Secret
    <add key="RtgClientSecret" value="G$Axqu@@lL8dqIdy4%"/>
    -->
    <!--棋牌Web Id-->
    <add key="RtgWebId" value="h1ob1"/>
    <!--棋牌SystemCode-->
    <add key="RtgSystemCode" value="h1ob"/>
    <!--棋牌測試線Web Id-->
    <add key="RtgWebIdTest" value="h1obtest1"/>
    <!--棋牌測試線SystemCode-->
    <add key="RtgSystemCodeTest" value="h1obtest"/>
    <!--棋牌DES-Iv-->
    <add key="RtgDESIv" value="3W8zG60p"/>
    <!--棋牌DES-Key-->
    <add key="RtgDESKey" value="XyA6K8i7"/>
    <!--棋牌Client-ID-->
    <add key="RtgClientID" value="vzD3Io127ltgSX2m"/>
    <!--棋牌Client-Secret-->
    <add key="RtgClientSecret" value="G$Axqu@@lL8dqIdy4%"/>
    <!--棋牌KickType-->
    <add key="RtgKickType" value="1"/>
    <!--驗證碼的key(維運使用︰yamaplayopteam@gmail.com，白馬使用︰yamaplaymanager@gmail.com)-->
    <add key="CheckAccount" value="testopteam@gmail.com"/>
	  <add key="UpdQuota" value="testopteam@gmail.com"/>
    <add key="RTG.RTG" value="http://127.0.0.1:7774/RTG.asmx"/>
    <!--警示系統黑名單操作的API位址-->
    <add key="AlertSysApi" value="http://172.16.10.17"/>
    <!--警示系統登入裝置 格式︰key value=顯示名稱-->
    <add key="LoginDevice" value="Web=電腦版,LoadBoard=載版,MBrowser=手機瀏覽器,iphoneapp=Iphone,ipadapp=Ipad,android=Android,manage=代理端"/>
    <!--[警示系統]與key值LoginDevice相關聯，用於指出表代代理端的值-->
    <add key="ManageIs" value="manage"/>
    <!--帳號警示撈資料的時間間隔-->
    <add key="TimeInterval" value="10000"/>
    <!--警示系統每頁筆數-->
    <add key="AlertRows" value="5"/>
    <!--CDN掉線的API位址-->
    <add key="CDNAPIURL" value="http://172.16.10.17:8800"/>
    <!--GCLUB踼線的API位址-->
    <add key="GCLUBAPI" value="http://139.162.61.141"/>
    <!--GCLUB密鑰-->
    <add key="GCLUBSecretKey" value="B7Jupv4PDHmI"/>
    <!--JDB活動榜的config資料-->
    <add key="JDBRaceResultConfigPath" value="C:\Users\admin\Desktop\Wayne\H1 Royal\SovaToolWebSite\Royal\JDBRaceResultConfig.json"/>
     <!-- 發送Mail-->
	  <add key="Mail_BOkai" value="s85529637@gmail.com"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SlotGameWSSoap"/>
        <binding name="MicroSovaWSSoap"/>
        <binding name="LiveGameSoap"/>
        <binding name="MobileLogWrapperSoap" maxReceivedMessageSize="2147483647"/>
        <binding name="SlotGameWSSoap1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://devslotapi.bt2win.com/SlotGameWS.asmx" binding="basicHttpBinding" bindingConfiguration="SlotGameWSSoap" contract="SlotGameWS.SlotGameWSSoap" name="SlotGameWSSoap"/>
      <endpoint address="http://210.66.176.243/MicroSovaWS.asmx" binding="basicHttpBinding" bindingConfiguration="MicroSovaWSSoap" contract="MicroSovaWS.MicroSovaWSSoap" name="MicroSovaWSSoap"/>
      <endpoint address="http://mapi.bt2win.com/livegame.asmx" binding="basicHttpBinding" bindingConfiguration="LiveGameSoap" contract="LiveGameWS.LiveGameSoap" name="LiveGameSoap"/>
      <endpoint address="http://210.66.176.241:8990/mobile.asmx" binding="basicHttpBinding" bindingConfiguration="MobileLogWrapperSoap" contract="Mobile.MobileLogWrapperSoap" name="MobileLogWrapperSoap"/>
      <endpoint address="http://tsgameapi.bacctest.com/SlotGameWS.asmx" binding="basicHttpBinding" bindingConfiguration="SlotGameWSSoap" contract="SlotGameWS2.SlotGameWSSoap" name="SlotGameWSSoap1"/>
    </client>
  </system.serviceModel>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Login.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>